In [1]:
import pandas as pd
import numpy as np

In [67]:
country_done = {'Germany', 'Austria', 'Belgium', 'Finland', 'Ireland', 'Latvia', 'Netherlands', 'France', 'Italy'}

In [243]:
country = 'Austria'

In [244]:
df1= pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Dirty_Prices/{country}_cor_dirtyprice.xlsx")
df2= pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_DTM/{country}_cor_dtm.xlsx")
df3= pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Coupon/{country}_cds_normalised.xlsx")
df4 = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Coupon_Dates/{country}.xlsx")
df5 = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Macro/Corporate Bonds.xlsm", sheet_name = f'S {country}')

In [245]:
df3

        Code  6207MZ  8338AF
0      40179     NaN     NaN
1      40180     NaN     NaN
2      40181     NaN     NaN
3      40182     NaN     NaN
4      40183     NaN     NaN
...      ...     ...     ...
19987  60166     NaN     NaN
19988  60167     NaN     NaN
19989  60168     NaN     NaN
19990  60169     NaN     NaN
19991  60170     NaN     NaN

[19992 rows x 3 columns]

In [210]:
columns_to_keep = ['Type', 'NIP']

df_filtered = df5.drop(columns=[col for col in df5.columns if col not in columns_to_keep])

dict_type_nip = df_filtered.set_index('Type')['NIP'].to_dict()

In [211]:
dict_type_nip

{'806DAY': 2,
 '806DAX': 2,
 '208W4F': 2,
 '239GP0': 2,
 '655Q8F': 1,
 '655Q7M': 1,
 '8566JP': 4,
 '8331YK': 2,
 '794JCG': 2,
 '794H97': 2,
 '842JAK': 2,
 '842MQZ': 2,
 '3990T6': 2,
 '6025EN': 2,
 '3990TN': 2,
 '8429H5': 2,
 '782H9T': 4,
 '217FUE': 2,
 '22632T': 2,
 '8331ZM': 2,
 '6025EM': 2,
 '8429KH': 2,
 '56466L': 2,
 '5782T1': 4,
 '5795WN': 4,
 '5782TW': 4,
 '807ER1': 1}

In [212]:
filtered_dict = {key: value for key, value in dict_type_nip.items() if value == 1}

columns_to_keep = df1.columns.intersection(filtered_dict.keys())
df1_filtered = df1[columns_to_keep]

columns_to_keep = df2.columns.intersection(filtered_dict.keys())
df2_filtered = df2[columns_to_keep]

columns_to_keep = df3.columns.intersection(filtered_dict.keys())
df3_filtered = df3[columns_to_keep]

columns_to_keep = df4.columns.intersection(filtered_dict.keys())
df4_filtered = df4[columns_to_keep]

In [213]:
df2_filtered

      655Q7M  655Q8F
0        NaN     NaN
1        NaN     NaN
2        NaN     NaN
3        NaN     NaN
4        NaN     NaN
...      ...     ...
4923  2281.0  3742.0
4924  2280.0  3741.0
4925  2279.0  3740.0
4926  2278.0  3739.0
4927  2277.0  3738.0

[4928 rows x 2 columns]

In [214]:
df1 = df1_filtered
df2 = df2_filtered
df3 = df3_filtered
df4 = df4_filtered

In [215]:
df5 = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Macro/Corporate Bonds.xlsm", sheet_name = f'{country}')

In [216]:
df5

,Name,SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 144A - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 REG.S - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2018 2 7/8% 15/01/26 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2019 1 1/2% 15/09/27 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2021 1% 22/09/33 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2021 1/2% 22/09/29 REG.S - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2012 F/R 10/20 EARLY - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2014 3 1/4% 01/06/21 EARLY - DEFAULT PRICE,...,SMURFIT KAPPA ACQS. 2019 2 7/8% 15/01/26 EARLY - DEFAULT PRICE,#ERROR,SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA ACQS. 2009 7 3/4% 15/11/19 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA ACQS. 2012 5 1/8% 15/09/18 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA FDG. 2005 7 3/4% 01/04/15 B EARLY - DEFAULT PRICE,#ERROR.1,#ERROR.2,#ERROR.3,#ERROR.4
0,Code,806DAY,806DAX,208W4F,239GP0,655Q8F,655Q7M,8566JP,8331YK,794JCG,...,217FUE,NaN,8331ZM,6025EM,8429KH,56466L,NaN,NaN,NaN,NaN
1,2010-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"$$ER: 0629,22632T NO DATA AVAILABLE",NaN,NaN,NaN,97,"$$ER: 0629,5782T1 NO DATA AVAILABLE","$$ER: 0629,5795WN NO DATA AVAILABLE","$$ER: 0629,5782TW NO DATA AVAILABLE","$$ER: 0629,807ER1 NO DATA AVAILABLE"
2,2010-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,97.23,NaN,NaN,NaN,NaN
3,2010-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,97.64,NaN,NaN,NaN,NaN
4,2010-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,2023-08-15 00:00:00,97.788,97.788,96.256,89.759,72.446,79.539,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,2023-08-16 00:00:00,97.764,97.765,96.255,89.782,72.618,79.742,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,2023-08-17 00:00:00,97.804,97.804,96.316,89.77,72.399,79.665,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,2023-08-18 00:00:00,97.845,97.844,96.458,89.884,72.895,79.89,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,2023-08-21 00:00:00,97.837,97.837,96.292,89.605,72.365,79.544,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
df5.loc[0] = [str(value).split('(')[0].strip() for value in df5.loc[0]]

In [218]:
df5

,Name,SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 144A - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 REG.S - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2018 2 7/8% 15/01/26 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2019 1 1/2% 15/09/27 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2021 1% 22/09/33 REG.S - DEFAULT PRICE,SMURFIT KAPPA TRSY. 2021 1/2% 22/09/29 REG.S - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2012 F/R 10/20 EARLY - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE,SMURFIT KAPPA ACQS. 2014 3 1/4% 01/06/21 EARLY - DEFAULT PRICE,...,SMURFIT KAPPA ACQS. 2019 2 7/8% 15/01/26 EARLY - DEFAULT PRICE,#ERROR,SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA ACQS. 2009 7 3/4% 15/11/19 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA ACQS. 2012 5 1/8% 15/09/18 EARLY - DEFAULT PRICE.1,SMURFIT KAPPA FDG. 2005 7 3/4% 01/04/15 B EARLY - DEFAULT PRICE,#ERROR.1,#ERROR.2,#ERROR.3,#ERROR.4
0,Code,806DAY,806DAX,208W4F,239GP0,655Q8F,655Q7M,8566JP,8331YK,794JCG,...,217FUE,nan,8331ZM,6025EM,8429KH,56466L,nan,nan,nan,nan
1,2010-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"$$ER: 0629,22632T NO DATA AVAILABLE",NaN,NaN,NaN,97,"$$ER: 0629,5782T1 NO DATA AVAILABLE","$$ER: 0629,5795WN NO DATA AVAILABLE","$$ER: 0629,5782TW NO DATA AVAILABLE","$$ER: 0629,807ER1 NO DATA AVAILABLE"
2,2010-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,97.23,NaN,NaN,NaN,NaN
3,2010-01-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,97.64,NaN,NaN,NaN,NaN
4,2010-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553,2023-08-15 00:00:00,97.788,97.788,96.256,89.759,72.446,79.539,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3554,2023-08-16 00:00:00,97.764,97.765,96.255,89.782,72.618,79.742,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3555,2023-08-17 00:00:00,97.804,97.804,96.316,89.77,72.399,79.665,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3556,2023-08-18 00:00:00,97.845,97.844,96.458,89.884,72.895,79.89,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3557,2023-08-21 00:00:00,97.837,97.837,96.292,89.605,72.365,79.544,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
dictionary = df5.iloc[0].to_dict()

dictionary2 =  {value: key for key, value in dictionary.items()}

new_key = 'Code'
new_value = 'AAAAAAAAAAAA'

# Append the new key-value pair to the dictionary
dictionary2[new_key] = new_value

In [220]:
dictionary2

{'Code': 'AAAAAAAAAAAA',
 '806DAY': 'SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 144A - DEFAULT PRICE',
 '806DAX': 'SMURFIT KAPPA ACQS. 2015 2 3/4% 01/02/25 REG.S - DEFAULT PRICE',
 '208W4F': 'SMURFIT KAPPA ACQS. 2018 2 7/8% 15/01/26 REG.S - DEFAULT PRICE',
 '239GP0': 'SMURFIT KAPPA TRSY. 2019 1 1/2% 15/09/27 REG.S - DEFAULT PRICE',
 '655Q8F': 'SMURFIT KAPPA TRSY. 2021 1% 22/09/33 REG.S - DEFAULT PRICE',
 '655Q7M': 'SMURFIT KAPPA TRSY. 2021 1/2% 22/09/29 REG.S - DEFAULT PRICE',
 '8566JP': 'SMURFIT KAPPA ACQS. 2012 F/R 10/20 EARLY - DEFAULT PRICE',
 '8331YK': 'SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE',
 '794JCG': 'SMURFIT KAPPA ACQS. 2014 3 1/4% 01/06/21 EARLY - DEFAULT PRICE',
 '794H97': 'SMURFIT KAPPA ACQS. 2014 3 1/4% 01/06/21 EARLY - DEFAULT PRICE.1',
 '842JAK': 'SMURFIT KAPPA ACQS. 2017 2 3/8% 01/02/24 EARLY - DEFAULT PRICE',
 '842MQZ': 'SMURFIT KAPPA ACQS. 2017 2 3/8% 01/02/24 EARLY - DEFAULT PRICE.1',
 '3990T6': 'SMURFIT KAPPA ACQS. 2009 7 1/4% 15/11/17 EARLY - DEFAULT PRICE',
 '6025EN': 'SMURFIT KAPPA ACQS. 2009 7 1/4% 15/11/17 EARLY - DEFAULT PRICE.1',
 '3990TN': 'SMURFIT KAPPA ACQS. 2009 7 3/4% 15/11/19 EARLY - DEFAULT PRICE',
 '8429H5': 'SMURFIT KAPPA ACQS. 2012 5 1/8% 15/09/18 EARLY - DEFAULT PRICE',
 '782H9T': 'SMURFIT KAPPA ACQS. 2012 F/R 10/20 EARLY - DEFAULT PRICE.1',
 '217FUE': 'SMURFIT KAPPA ACQS. 2019 2 7/8% 15/01/26 EARLY - DEFAULT PRICE',
 'nan': '#ERROR.4',
 '8331ZM': 'SMURFIT KAPPA ACQS. 2013 4 1/8% 30/01/20 EARLY - DEFAULT PRICE.1',
 '6025EM': 'SMURFIT KAPPA ACQS. 2009 7 3/4% 15/11/19 EARLY - DEFAULT PRICE.1',
 '8429KH': 'SMURFIT KAPPA ACQS. 2012 5 1/8% 15/09/18 EARLY - DEFAULT PRICE.1',
 '56466L': 'SMURFIT KAPPA FDG. 2005 7 3/4% 01/04/15 B EARLY - DEFAULT PRICE'}

In [221]:
new_row = [dictionary2[col] for col in df1.columns]

# Insert the new row at the first position in df1
df1.loc[-1] = new_row  # Add new row at the end
df1.index = df1.index + 1  # Shift the index
df1 = df1.sort_index()  # Sort the index so that the new row is at the top

df2.loc[-1] = new_row  # Add new row at the end
df2.index = df2.index + 1  # Shift the index
df2 = df2.sort_index()

df3.loc[-1] = new_row  # Add new row at the end
df3.index = df3.index + 1  # Shift the index
df3 = df3.sort_index()

df4.loc[-1] = new_row  # Add new row at the end
df4.index = df4.index + 1  # Shift the index
df4 = df4.sort_index()

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_1516\3509888223.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[-1] = new_row  # Add new row at the end

In [222]:
df1_transposed = df1.transpose()
df1_transposed_sorted = df1_transposed.sort_values(by=0)
df1 = df1_transposed_sorted.transpose()

df2_transposed = df2.transpose()
df2_transposed_sorted = df2_transposed.sort_values(by=0)
df2 = df2_transposed_sorted.transpose()

df3_transposed = df3.transpose()
df3_transposed_sorted = df3_transposed.sort_values(by=0)
df3 = df3_transposed_sorted.transpose()

df4_transposed = df4.transpose()
df4_transposed_sorted = df4_transposed.sort_values(by=0)
df4 = df4_transposed_sorted.transpose()

In [223]:
df_columns = set(df1.columns)
dict_keys = set(dictionary2.keys())

# Find columns in DataFrame that are not in the dictionary
missing_in_dict = df_columns - dict_keys

# Find keys in the dictionary that are not in the DataFrame columns
extra_in_dict = dict_keys - df_columns

print("Columns in DataFrame not in dictionary:", missing_in_dict)
print("Keys in dictionary not in DataFrame columns:", extra_in_dict)

Columns in DataFrame not in dictionary: set()
Keys in dictionary not in DataFrame columns: {'8331YK', '806DAX', '6025EM', '8331ZM', '3990T6', '8429KH', 'nan', '806DAY', '8566JP', '794H97', '217FUE', 'Code', '208W4F', '6025EN', '56466L', '842JAK', '842MQZ', '3990TN', '239GP0', '794JCG', '8429H5', '782H9T'}

In [224]:
df1.loc[0] = [str(value).split()[0] for value in df1.loc[0]]
df2.loc[0] = [str(value).split()[0] for value in df2.loc[0]]
df3.loc[0] = [str(value).split()[0] for value in df3.loc[0]]
df4.loc[0] = [str(value).split()[0] for value in df4.loc[0]]

In [225]:

row_0_values = df2.loc[0].dropna().unique()  # Drop NaNs and get unique values


all_values = df2.values.flatten()
value_counts = pd.Series(all_values).value_counts()

counts = {value: value_counts.get(value, 0) for value in row_0_values}

print(counts)

{'SMURFIT': 2}

In [226]:
df1.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Dirty_Prices/{country}_cor_dirtyprice.xlsx", index = False)
df2.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/DTM/{country}_cor_dtm.xlsx", index = False)
df3.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/{country}_cds_normalised.xlsx", index = False)
df4.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon_Dates/{country}.xlsx", index = False)

In [2]:
df1 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Austria_cds_normalised.xlsx")
df2 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Belgium_cds_normalised.xlsx")
#df3 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Croatia_cds_normalised.xlsx")
#df4 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Cyprus_cds_normalised.xlsx")
#df5 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Estonia_cds_normalised.xlsx")

df6 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Finland_cds_normalised.xlsx")
df7 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/France_cds_normalised.xlsx")
df8 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Germany_cds_normalised.xlsx")
#df9 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Greece_cds_normalised.xlsx")
df10 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Ireland_cds_normalised.xlsx")

df11 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Italy_cds_normalised.xlsx")
df12 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Latvia_cds_normalised.xlsx")
#df13 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Lithuania_cds_normalised.xlsx")
#df14 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Luxembourg_cds_normalised.xlsx")
#df15 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Malta_cds_normalised.xlsx")

df16 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Netherlands_cds_normalised.xlsx")
#df17 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Portugal_cds_normalised.xlsx")
#df18 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Slovakia_cds_normalised.xlsx")
#df19 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Slovenia_cds_normalised.xlsx")
#df20 = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Corporate_all_Euro/Coupon/Spain_cds_normalised.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/Coupon/Austria_cds_normalised.xlsx'

In [240]:
dfs = [df1, df2, df6, df7, df8, df10, df11, df12, df16]

# Use pd.concat to merge them side by side (along the columns)
df = pd.concat(dfs, axis=1)

In [241]:
df

,6207MZ,8338AF,60801X,20111H,55000H,60810E,60835J,37940H,5872U7,60844L,...,827Y7Y,6074AE,6076DA,611UKE,646Q1X,646Q1J,638G0M,910Q2U,983C7R,971TF2
0,EVN,TELEKOM,AGEAS,AGEAS,AGEAS,AGEAS,AGEAS,AGEAS,AGEAS,AGEAS,...,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS,STELLANTIS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
df.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/All Euro/Corporate/Coupon_CDS.xlsx", index = False)