In [3]:
import numpy as np
import pandas as pd

def process_C(coupon_all, cdspremia, t, K):
    # Extract the relevant part of coupon_all for the time period t:K
    coupon_all2 = coupon_all[t:K+1, :]
    coupon_all2[(coupon_all2 == 0) | (coupon_all2 >= 100)] = np.nan  # Select all pure coupon dates
    
    # Repeat the cdspremia for the relevant time period
    cdspremia_rep = np.tile(cdspremia[t, :], (K-t+1, 1))
    
    # Adjust the coupons by subtracting the CDS premia
    coupon_cds_adjusted = coupon_all2 - cdspremia_rep
    
    # Handle coupon dates and repayment events
    coupon_all3 = coupon_all[t:K+1, :]
    coupon_all3[coupon_all3 < 100] = 0  # Set all pure coupon dates to zero
    coupon_cds_adjusted[np.isnan(coupon_cds_adjusted)] = 0  # Replace NaNs with 0
    coupon_cds_adjusted += coupon_all3
    
    # Remove columns corresponding to NaNs in `p` (done outside this function)
    # Remove rows beyond KK (done outside this function)
    
    # Return the adjusted coupon matrix
    return coupon_cds_adjusted

# Example usage:
# C = process_C(coupon_all, cdspremia, t, K)

In [11]:
import pandas as pd
import numpy as np

def process_C(coupon_all, cdspremia, t, K):
    # Assuming coupon_all and cdspremia are pandas DataFrames
    # Convert the range-based slicing to use .iloc
    coupon_all2 = coupon_all.iloc[t:K+1, :]
    coupon_all2[(coupon_all2 == 0) | (coupon_all2 >= 100)] = np.nan  # Select all pure coupon dates
    
    # Repeat the cdspremia for the relevant time period
    cdspremia_rep = np.tile(cdspremia.iloc[t, :].values, (K-t+1, 1))
    
    # Adjust the coupons by subtracting the CDS premia
    coupon_cds_adjusted = coupon_all2.values - cdspremia_rep
    
    # Handle coupon dates and repayment events
    coupon_all3 = coupon_all.iloc[t:K+1, :].values
    coupon_all3[coupon_all3 < 100] = 0  # Set all pure coupon dates to zero
    coupon_cds_adjusted[np.isnan(coupon_cds_adjusted)] = 0  # Replace NaNs with 0
    coupon_cds_adjusted += coupon_all3
    
    # Return the adjusted coupon matrix as a DataFrame for consistency
    return pd.DataFrame(coupon_cds_adjusted, index=coupon_all2.index, columns=coupon_all2.columns)

# Example usage:
# Assuming coupon_all and cdspremia are pandas DataFrames
# C = process_C(coupon_all, cdspremia, t, K)

In [4]:
cdspremia = pd.read_excel("C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Book1.xlsx")

In [15]:
coupon_all = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Coupon/Finland_cor_coupon.xlsx")
coupon_all = coupon_all.iloc[:, 1:]

In [16]:
K = 19991
t = 1

In [17]:
C = process_C(coupon_all , cdspremia, t, K)

C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_3976\1107367901.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coupon_all2[(coupon_all2 == 0) | (coupon_all2 >= 100)] = np.nan  # Select all pure coupon dates
C:\Users\defaultuser0\AppData\Local\Temp\ipykernel_3976\1107367901.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coupon_all2[(coupon_all2 == 0) | (coupon_all2 >= 100)] = np.nan  # Select all pure coupon dates

In [18]:
C

,202WMZ,221T4D,221Z82,221Z84,221Z9D,222W8M,57886R,606N01,606N0Z,618J2Y,...,845E6L,845JAT,849ZAA,8610DF,924NJ8,9694RW,979LLV,979LWQ,979Y8Q,979ZM6
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN