In [1]:
import pandas as pd
import numpy as np

In [111]:
country = 'Spain'

In [112]:
df1= pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS/{country}_cds_normalized.xlsx", sheet_name = f'{country} Master Sheet' )  
df2= pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_Macro/Corporate CDS.xlsm", sheet_name = f'{country}', skiprows = 3)

In [113]:
df2

,Name,"IBERDROLA, S.A. SNR CR14 10Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 1Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 20Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 2Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 30Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 3Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 4Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 5Y E - CDS PREM. MID","IBERDROLA, S.A. SNR CR14 6M E - CDS PREM. MID",...,REPSOL YPF SA SEN 2YR CDS - CDS PREM. MID,#ERROR.31,REPSOL YPF SA SEN 3YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 4YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 5YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 6M CDS - CDS PREM. MID,REPSOL YPF SA SEN 6YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 7YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 8YR CDS - CDS PREM. MID,REPSOL YPF SA SEN 9YR CDS - CDS PREM. MID
0,Code,IBEAEAC,IBE1EAC,IBEBEAC,IBE2EAC,IBECEAC,IBE3EAC,IBE4EAC,IBE5EAC,IBE0EAC,...,REP..S2,NaN,REP..S3,REP..S4,REP..S5,REP..S0,REP..S6,REP..S7,REP..S8,REP..S9
1,2010-01-01 00:00:00,86.34,36.95999,86.25999,46.53,86.18999,58.14999,64.95999,73.84999,36.89,...,58,"$$ER: 0904,NO DATA AVAILABLE",64.1,73.5,79.6,NaN,82.7,84.8,86.2,87.1
2,2010-01-04 00:00:00,81.18999,31.73999,81.09,41.32999,81,52.95999,59.78,68.67999,31.64999,...,57.1,NaN,63.095,72.345,78.34,NaN,81.385,83.45,84.825,85.705
3,2010-01-05 00:00:00,79.14999,29.64999,79.06,39.25999,78.93999,50.89999,57.71999,66.62999,29.56,...,55.665,NaN,61.505,70.52,76.37,NaN,79.335,81.35,82.69,83.55
4,2010-01-06 00:00:00,81.17999,28.60999,81.03,38.20999,80.89,49.84,56.64999,65.54999,28.51999,...,55.075,NaN,60.855,69.78,75.575,NaN,78.51,80.5,81.82,82.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3549,2023-08-09 00:00:00,89.39,14.61,122.66,21.8,139.69,28.91,39.28999,49.57001,12.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3550,2023-08-10 00:00:00,89.39125,14.62449,122.6623,21.81462,139.6524,28.9297,39.31021,49.57861,12.56312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3551,2023-08-11 00:00:00,89.31,14.61,122.75,21.77,139.64,28.86,39.22,49.47,12.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3552,2023-08-14 00:00:00,89.37,14.61,122.65,21.8,139.5,28.91,39.28999,49.56,12.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3553,2023-08-15 00:00:00,89.87,14.77,123.18,22.13,139.97,29.41,39.78999,50.05,12.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
dictionary = df2.iloc[0].to_dict()

dictionary2 =  {value: key for key, value in dictionary.items()}

In [115]:
dictionary2

{'Code': 'Name',
 'IBEAEAC': 'IBERDROLA, S.A. SNR CR14 10Y E - CDS PREM. MID',
 'IBE1EAC': 'IBERDROLA, S.A. SNR CR14 1Y E - CDS PREM. MID',
 'IBEBEAC': 'IBERDROLA, S.A. SNR CR14 20Y E - CDS PREM. MID',
 'IBE2EAC': 'IBERDROLA, S.A. SNR CR14 2Y E - CDS PREM. MID',
 'IBECEAC': 'IBERDROLA, S.A. SNR CR14 30Y E - CDS PREM. MID',
 'IBE3EAC': 'IBERDROLA, S.A. SNR CR14 3Y E - CDS PREM. MID',
 'IBE4EAC': 'IBERDROLA, S.A. SNR CR14 4Y E - CDS PREM. MID',
 'IBE5EAC': 'IBERDROLA, S.A. SNR CR14 5Y E - CDS PREM. MID',
 'IBE0EAC': 'IBERDROLA, S.A. SNR CR14 6M E - CDS PREM. MID',
 'IBE7EAC': 'IBERDROLA, S.A. SNR CR14 7Y E - CDS PREM. MID',
 'IBEAEAM': 'IBERDROLA, S.A. SNR MM14 10Y E - CDS PREM. MID',
 'IBE1EAM': 'IBERDROLA, S.A. SNR MM14 1Y E - CDS PREM. MID',
 'IBEBEAM': 'IBERDROLA, S.A. SNR MM14 20Y E - CDS PREM. MID',
 'IBE2EAM': 'IBERDROLA, S.A. SNR MM14 2Y E - CDS PREM. MID',
 'IBECEAM': 'IBERDROLA, S.A. SNR MM14 30Y E - CDS PREM. MID',
 'IBE3EAM': 'IBERDROLA, S.A. SNR MM14 3Y E - CDS PREM. MID',
 'IBE4EAM': 'IBERDROLA, S.A. SNR MM14 4Y E - CDS PREM. MID',
 'IBE5EAM': 'IBERDROLA, S.A. SNR MM14 5Y E - CDS PREM. MID',
 'IBE0EAM': 'IBERDROLA, S.A. SNR MM14 6M E - CDS PREM. MID',
 'IBE7EAM': 'IBERDROLA, S.A. SNR MM14 7Y E - CDS PREM. MID',
 'IBE..SX': 'IBERDROLA SA SEN 10Y CDS - CDS PREM. MID',
 nan: '#ERROR.31',
 'IBE..S1': 'IBERDROLA SA SEN 1YR CDS - CDS PREM. MID',
 'IBE..S2': 'IBERDROLA SA SEN 2YR CDS - CDS PREM. MID',
 'IBE..S3': 'IBERDROLA SA SEN 3YR CDS - CDS PREM. MID',
 'IBE..S4': 'IBERDROLA SA SEN 4YR CDS - CDS PREM. MID',
 'IBE..S5': 'IBERDROLA SA SEN 5YR CDS - CDS PREM. MID',
 'IBE..S0': 'IBERDROLA SA SEN 6M CDS - CDS PREM. MID',
 'IBE..S6': 'IBERDROLA SA SEN 6YR CDS - CDS PREM. MID',
 'IBE..S7': 'IBERDROLA SA SEN 7YR CDS - CDS PREM. MID',
 'IBE..S8': 'IBERDROLA SA SEN 8YR CDS - CDS PREM. MID',
 'IBE..S9': 'IBERDROLA SA SEN 9YR CDS - CDS PREM. MID',
 'GAX5EAM': 'NATURGY ENERGY GROUP SNR MM14 5Y E - CDS PREM. MID',
 'GAX1EAM': 'NATURGY ENERGY GROUP SNR MM14 1Y E - CDS PREM. MID',
 'UNFAEAC': 'NATURGY ENERGY GROUP SNR CR14 10Y E - CDS PREM. MID',
 'UNF1EAC': 'NATURGY ENERGY GROUP SNR CR14 1Y E - CDS PREM. MID',
 'UNFBEAC': 'NATURGY ENERGY GROUP SNR CR14 20Y E - CDS PREM. MID',
 'UNF4EAC': 'NATURGY ENERGY GROUP SNR CR14 4Y E - CDS PREM. MID',
 'UNF5EAC': 'NATURGY ENERGY GROUP SNR CR14 5Y E - CDS PREM. MID',
 'GAXAEAM': 'NATURGY ENERGY GROUP SNR MM14 10Y E - CDS PREM. MID',
 'UNF1EAM': 'NATURGY ENERGY GROUP SNR MM14 1Y E - CDS PREM. MID.1',
 'UNFBEAM': 'NATURGY ENERGY GROUP SNR MM14 20Y E - CDS PREM. MID',
 'GAXBEAM': 'NATURGY ENERGY GROUP SNR MM14 20Y E - CDS PREM. MID.1',
 'UNF2EAM': 'NATURGY ENERGY GROUP SNR MM14 2Y E - CDS PREM. MID',
 'GAX2EAM': 'NATURGY ENERGY GROUP SNR MM14 2Y E - CDS PREM. MID.1',
 'UNF3EAM': 'NATURGY ENERGY GROUP SNR MM14 3Y E - CDS PREM. MID',
 'GAX3EAM': 'NATURGY ENERGY GROUP SNR MM14 3Y E - CDS PREM. MID.1',
 'UNF4EAM': 'NATURGY ENERGY GROUP SNR MM14 4Y E - CDS PREM. MID',
 'UNF5EAM': 'NATURGY ENERGY GROUP SNR MM14 5Y E - CDS PREM. MID.1',
 'GAX0EAM': 'NATURGY ENERGY GROUP SNR MM14 6M E - CDS PREM. MID',
 'UNF7EAM': 'NATURGY ENERGY GROUP SNR MM14 7Y E - CDS PREM. MID',
 'UNF2EAC': 'NATURGY ENERGY GROUP SNR CR14 2Y E - CDS PREM. MID',
 'UNFCEAC': 'NATURGY ENERGY GROUP SNR CR14 30Y E - CDS PREM. MID',
 'UNF3EAC': 'NATURGY ENERGY GROUP SNR CR14 3Y E - CDS PREM. MID',
 'UNF0EAC': 'NATURGY ENERGY GROUP SNR CR14 6M E - CDS PREM. MID',
 'UNF7EAC': 'NATURGY ENERGY GROUP SNR CR14 7Y E - CDS PREM. MID',
 'UNFAEAM': 'NATURGY ENERGY GROUP SNR MM14 10Y E - CDS PREM. MID.1',
 'GAXCEAM': 'NATURGY ENERGY GROUP SNR MM14 30Y E - CDS PREM. MID',
 'UNFCEAM': 'NATURGY ENERGY GROUP SNR MM14 30Y E - CDS PREM. MID.1',
 'GAX4EAM': 'NATURGY ENERGY GROUP SNR MM14 4Y E - CDS PREM. MID.1',
 'UNF0EAM': 'NATURGY ENERGY GROUP SNR MM14 6M E - CDS PREM. MID.1',
 'GAX7EAM': 'NATURGY ENERGY GROUP SNR MM14 7Y E - CDS PREM. MID.1',
 'TEFAEAC': 'TELEFONICA SA SNR CR14 10Y E - CDS PREM. MID',
 'TEF1EAC': 'TELEFONICA SA SNR CR14 1Y E - CDS PREM. MID',
 'TEFBEAC': 'TELEFONICA SA SNR CR14 20Y E - CDS PREM. MID',
 'TEF2EAC': 'TELEFONICA SA SNR CR14 2Y E - CDS PREM. MID',
 'TEFCEAC': 'TELEFONICA SA SNR CR14 30Y E - CDS PREM. MID',
 'TEF3EAC': 'TELEFONICA SA SNR CR14 3Y E - CDS PREM. MID',
 'TEF4EAC': 'TELEFONICA SA SNR CR14 4Y E - CDS PREM. MID',
 'TEF5EAC': 'TELEFONICA SA SNR CR14 5Y E - CDS PREM. MID',
 'TEF0EAC': 'TELEFONICA SA SNR CR14 6M E - CDS PREM. MID',
 'TEF7EAC': 'TELEFONICA SA SNR CR14 7Y E - CDS PREM. MID',
 'TEFAEAM': 'TELEFONICA SA SNR MM14 10Y E - CDS PREM. MID',
 'TEF1EAM': 'TELEFONICA SA SNR MM14 1Y E - CDS PREM. MID',
 'TEFBEAM': 'TELEFONICA SA SNR MM14 20Y E - CDS PREM. MID',
 'TEF2EAM': 'TELEFONICA SA SNR MM14 2Y E - CDS PREM. MID',
 'TEFCEAM': 'TELEFONICA SA SNR MM14 30Y E - CDS PREM. MID',
 'TEF3EAM': 'TELEFONICA SA SNR MM14 3Y E - CDS PREM. MID',
 'TEF4EAM': 'TELEFONICA SA SNR MM14 4Y E - CDS PREM. MID',
 'TEF5EAM': 'TELEFONICA SA SNR MM14 5Y E - CDS PREM. MID',
 'TEF0EAM': 'TELEFONICA SA SNR MM14 6M E - CDS PREM. MID',
 'TEF7EAM': 'TELEFONICA SA SNR MM14 7Y E - CDS PREM. MID',
 'TEFAEAR': 'TELEFONICA SA SNR MR14 10Y E - CDS PREM. MID',
 'TEF1EAR': 'TELEFONICA SA SNR MR14 1Y E - CDS PREM. MID',
 'TEFBEAR': 'TELEFONICA SA SNR MR14 20Y E - CDS PREM. MID',
 'TEF2EAR': 'TELEFONICA SA SNR MR14 2Y E - CDS PREM. MID',
 'TEFCEAR': 'TELEFONICA SA SNR MR14 30Y E - CDS PREM. MID',
 'TEF3EAR': 'TELEFONICA SA SNR MR14 3Y E - CDS PREM. MID',
 'TEF4EAR': 'TELEFONICA SA SNR MR14 4Y E - CDS PREM. MID',
 'TEF5EAR': 'TELEFONICA SA SNR MR14 5Y E - CDS PREM. MID',
 'TEF0EAR': 'TELEFONICA SA SNR MR14 6M E - CDS PREM. MID',
 'TEF7EAR': 'TELEFONICA SA SNR MR14 7Y E - CDS PREM. MID',
 'TEFAEAX': 'TELEFONICA SA SNR XR14 10Y E - CDS PREM. MID',
 'TEF1EAX': 'TELEFONICA SA SNR XR14 1Y E - CDS PREM. MID',
 'TEFBEAX': 'TELEFONICA SA SNR XR14 20Y E - CDS PREM. MID',
 'TEF2EAX': 'TELEFONICA SA SNR XR14 2Y E - CDS PREM. MID',
 'TEFCEAX': 'TELEFONICA SA SNR XR14 30Y E - CDS PREM. MID',
 'TEF3EAX': 'TELEFONICA SA SNR XR14 3Y E - CDS PREM. MID',
 'TEF4EAX': 'TELEFONICA SA SNR XR14 4Y E - CDS PREM. MID',
 'TEF5EAX': 'TELEFONICA SA SNR XR14 5Y E - CDS PREM. MID',
 'TEF0EAX': 'TELEFONICA SA SNR XR14 6M E - CDS PREM. MID',
 'TEF7EAX': 'TELEFONICA SA SNR XR14 7Y E - CDS PREM. MID',
 'TEF..SX': 'TELEFONICA SA SEN 10Y CDS - CDS PREM. MID',
 'TEF..S1': 'TELEFONICA SA SEN 1YR CDS - CDS PREM. MID',
 'TEF..S2': 'TELEFONICA SA SEN 2YR CDS - CDS PREM. MID',
 'TEF..S3': 'TELEFONICA SA SEN 3YR CDS - CDS PREM. MID',
 'TEF..S4': 'TELEFONICA SA SEN 4YR CDS - CDS PREM. MID',
 'TEF..S5': 'TELEFONICA SA SEN 5YR CDS - CDS PREM. MID',
 'TEF..S0': 'TELEFONICA SA SEN 6M CDS - CDS PREM. MID',
 'TEF..S6': 'TELEFONICA SA SEN 6YR CDS - CDS PREM. MID',
 'TEF..S7': 'TELEFONICA SA SEN 7YR CDS - CDS PREM. MID',
 'TEF..S8': 'TELEFONICA SA SEN 8YR CDS - CDS PREM. MID',
 'TEF..S9': 'TELEFONICA SA SEN 9YR CDS - CDS PREM. MID',
 'FER..SX': 'GRUPO FERROVIAL SA SEN 10YCDS(DISC) - CDS PREM. MID',
 'FER..S1': 'GRUPO FERROVIAL SA SEN 1YRCDS(DISC) - CDS PREM. MID',
 'FER..S3': 'GRUPO FERROVIAL SA SEN 3YRCDS(DISC) - CDS PREM. MID',
 'FER..S5': 'GRUPO FERROVIAL SA SEN 5YRCDS(DISC) - CDS PREM. MID',
 'FER..S7': 'GRUPO FERROVIAL SA SEN 7YRCDS(DISC) - CDS PREM. MID',
 'REPAEAC': 'REPSOL SA SNR CR14 10Y E - CDS PREM. MID',
 'REP1EAC': 'REPSOL SA SNR CR14 1Y E - CDS PREM. MID',
 'REPBEAC': 'REPSOL SA SNR CR14 20Y E - CDS PREM. MID',
 'REP2EAC': 'REPSOL SA SNR CR14 2Y E - CDS PREM. MID',
 'REPCEAC': 'REPSOL SA SNR CR14 30Y E - CDS PREM. MID',
 'REP3EAC': 'REPSOL SA SNR CR14 3Y E - CDS PREM. MID',
 'REP4EAC': 'REPSOL SA SNR CR14 4Y E - CDS PREM. MID',
 'REP5EAC': 'REPSOL SA SNR CR14 5Y E - CDS PREM. MID',
 'REP0EAC': 'REPSOL SA SNR CR14 6M E - CDS PREM. MID',
 'REP7EAC': 'REPSOL SA SNR CR14 7Y E - CDS PREM. MID',
 'REPAEAM': 'REPSOL SA SNR MM14 10Y E - CDS PREM. MID',
 'REP1EAM': 'REPSOL SA SNR MM14 1Y E - CDS PREM. MID',
 'REPBEAM': 'REPSOL SA SNR MM14 20Y E - CDS PREM. MID',
 'REP2EAM': 'REPSOL SA SNR MM14 2Y E - CDS PREM. MID',
 'REPCEAM': 'REPSOL SA SNR MM14 30Y E - CDS PREM. MID',
 'REP3EAM': 'REPSOL SA SNR MM14 3Y E - CDS PREM. MID',
 'REP4EAM': 'REPSOL SA SNR MM14 4Y E - CDS PREM. MID',
 'REP5EAM': 'REPSOL SA SNR MM14 5Y E - CDS PREM. MID',
 'REP0EAM': 'REPSOL SA SNR MM14 6M E - CDS PREM. MID',
 'REP7EAM': 'REPSOL SA SNR MM14 7Y E - CDS PREM. MID',
 'REP..SX': 'REPSOL YPF SA SEN 10Y CDS - CDS PREM. MID',
 'REP..S1': 'REPSOL YPF SA SEN 1YR CDS - CDS PREM. MID',
 'REP..S2': 'REPSOL YPF SA SEN 2YR CDS - CDS PREM. MID',
 'REP..S3': 'REPSOL YPF SA SEN 3YR CDS - CDS PREM. MID',
 'REP..S4': 'REPSOL YPF SA SEN 4YR CDS - CDS PREM. MID',
 'REP..S5': 'REPSOL YPF SA SEN 5YR CDS - CDS PREM. MID',
 'REP..S0': 'REPSOL YPF SA SEN 6M CDS - CDS PREM. MID',
 'REP..S6': 'REPSOL YPF SA SEN 6YR CDS - CDS PREM. MID',
 'REP..S7': 'REPSOL YPF SA SEN 7YR CDS - CDS PREM. MID',
 'REP..S8': 'REPSOL YPF SA SEN 8YR CDS - CDS PREM. MID',
 'REP..S9': 'REPSOL YPF SA SEN 9YR CDS - CDS PREM. MID'}

In [116]:
new_row = [dictionary2[col] for col in df1.columns]

# Insert the new row at the first position in df1
df1.loc[-1] = new_row  # Add new row at the end
df1.index = df1.index + 1  # Shift the index
df1 = df1.sort_index() 


df1_transposed = df1.transpose()
df1_transposed_sorted = df1_transposed.sort_values(by=0)
df1 = df1_transposed_sorted.transpose()

In [117]:
df_columns = set(df1.columns)
dict_keys = set(dictionary2.keys())

# Find columns in DataFrame that are not in the dictionary
missing_in_dict = df_columns - dict_keys

# Find keys in the dictionary that are not in the DataFrame columns
extra_in_dict = dict_keys - df_columns

print("Columns in DataFrame not in dictionary:", missing_in_dict)
print("Keys in dictionary not in DataFrame columns:", extra_in_dict)

Columns in DataFrame not in dictionary: set()
Keys in dictionary not in DataFrame columns: {nan}

In [118]:
df1.loc[0] = [str(value).split()[0] for value in df1.loc[0]]

In [119]:
df1

,FER..SX,FER..S1,FER..S3,FER..S5,FER..S7,IBE..SX,IBE..S1,IBE..S2,IBE..S3,IBE..S4,...,TEFAEAX,TEF1EAX,TEFBEAX,TEF2EAX,TEFCEAX,TEF3EAX,TEF4EAX,TEF5EAX,TEF0EAX,TEF7EAX
0,GRUPO,GRUPO,GRUPO,GRUPO,GRUPO,IBERDROLA,IBERDROLA,IBERDROLA,IBERDROLA,IBERDROLA,...,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA,TELEFONICA
1,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,0.64,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
2,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,0.64,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
3,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,0.64,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
4,0.72518,0.13556,0.33405,0.5,0.60931,0.7845,0.3469,0.4494,0.52985,0.6056,...,0.902,0.3524,0.9013,0.4437,0.9007,0.5445,0.6244,0.7041,0.3016,0.8033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517

In [120]:
df1 = df1[['Code'] + [col for col in df1.columns if col != 'Code']]

In [121]:
df1 = df1.drop(index=0)

In [122]:
df1

,Code,FER..SX,FER..S1,FER..S3,FER..S5,FER..S7,IBE..SX,IBE..S1,IBE..S2,IBE..S3,...,TEFAEAX,TEF1EAX,TEFBEAX,TEF2EAX,TEFCEAX,TEF3EAX,TEF4EAX,TEF5EAX,TEF0EAX,TEF7EAX
1,2010-01-01 00:00:00,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
2,2010-01-02 00:00:00,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
3,2010-01-03 00:00:00,0.72518,0.13556,0.33405,0.5,0.60931,0.829,0.367,0.475,0.56,...,0.9314,0.3823,0.9309,0.4734,0.9305,0.574,0.6538,0.7335,0.3315,0.8327
4,2010-01-04 00:00:00,0.72518,0.13556,0.33405,0.5,0.60931,0.7845,0.3469,0.4494,0.52985,...,0.902,0.3524,0.9013,0.4437,0.9007,0.5445,0.6244,0.7041,0.3016,0.8033
5,2010-01-05 00:00:00,0.72518,0.13556,0.33405,0.5,0.60931,0.7546,0.3334,0.43215,0.5095,...,0.902,0.3524,0.9014,0.4436,0.9009,0.5443,0.6243,0.704,0.3016,0.8033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,2023-08-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4972,2023-08-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4973,2023-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4974,2023-08-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517
4975,2023-08-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4232,0.2721,1.4267,0.423,1.4276,0.5936,0.7731,0.9509,0.1901,1.2517

In [123]:
df1.to_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Cor_CDS_Normalised/{country}_cds_normalised.xlsx", index = False)