In [10]:
import pandas as pd
import numpy as np

In [11]:
country = 'Greece'

In [12]:
df = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_Thesis/excel_files/Sov_Coupons/{country}_sov_coupon.xlsx")

In [13]:
def replace_non_na(row):
    return row.apply(lambda x: row['Code'] if pd.notna(x) else x)

# Apply the function to each row
df= df.apply(replace_non_na, axis=1)

df = df.drop('Code', axis = 1)

dfs = [pd.DataFrame({col: df[col].dropna()}).reset_index(drop=True) for col in df.columns]

# Combine these DataFrames with an outer join
result = pd.concat(dfs, axis=1, join='outer')

# Reset index for cleaner output
result = result.reset_index(drop=True)

df = result.copy()

In [14]:
df

,7835W7(GP),7835WE(GP),7835WT(GP),7835WU(GP),7835XF(GP),7838X6(GP),7838XW(GP),7839CD(GP),7839CE(GP),7839CF(GP),7839CQ(GP),7839QV(GP),7841NK(GP)
0,40988.0,41079.0,41204.0,40988.0,41172.0,41079.0,41204.0,41204.0,40988.0,40988.0,41172.0,41204.0,41312.0
1,41353.0,41444.0,41569.0,41353.0,41537.0,41444.0,41569.0,41569.0,41353.0,41353.0,41537.0,41569.0,41677.0
2,41718.0,41809.0,41934.0,41718.0,41902.0,41809.0,41934.0,41934.0,41718.0,41718.0,41902.0,41934.0,42042.0
3,42083.0,42174.0,42299.0,42083.0,42267.0,42174.0,42299.0,42299.0,42083.0,42083.0,42267.0,42299.0,42407.0
4,42449.0,42540.0,42665.0,42449.0,42633.0,42540.0,42665.0,42665.0,42449.0,42449.0,42633.0,42665.0,42773.0
5,42814.0,42905.0,43030.0,42814.0,42998.0,42905.0,43030.0,43030.0,42814.0,42814.0,42998.0,43030.0,43138.0
6,43179.0,43270.0,43395.0,43179.0,43363.0,43270.0,43395.0,43395.0,43179.0,43179.0,43363.0,43395.0,43503.0
7,43544.0,43635.0,43760.0,43544.0,43728.0,43635.0,43760.0,43760.0,43544.0,43544.0,43728.0,43760.0,43868.0
8,43910.0,44001.0,44126.0,43910.0,44094.0,44001.0,NaN,44126.0,43910.0,43910.0,44094.0,NaN,44234.0
9,44275.0,NaN,44491.0,44275.0,44459.0,NaN,NaN,44491.0,44275.0,44275.0,44459.0,NaN,44599.0
10,44640.0,NaN,44856.0,44640.0,44824.0,NaN,NaN,44856.0,44640.0,44640.0,44824.0,NaN,NaN
11,45005.0,NaN,NaN,45005.0,45189.0,NaN,NaN,NaN,45005.0,45005.0,45189.0,NaN,NaN
12,45371.0,NaN,NaN,45371.0,45555.0,NaN,NaN,NaN,45371.0,45371.0,45555.0,NaN,NaN
13,45736.0,NaN,NaN,NaN,45920.0,NaN,NaN,NaN,NaN,45736.0,45920.0,NaN,NaN
14,46101.0,NaN,NaN,NaN,46285.0,NaN,NaN,NaN,NaN,46101.0,46285.0,NaN,NaN
15,NaN,NaN,NaN,NaN,46650.0,NaN,NaN,NaN,NaN,NaN,46650.0,NaN,NaN
16,NaN,NaN,NaN,NaN,47016.0,NaN,NaN,NaN,NaN,NaN,47016.0,NaN,NaN
17,NaN,NaN,NaN,NaN,47381.0,NaN,NaN,NaN,NaN,NaN,47381.0,NaN,NaN
18,NaN,NaN,NaN,NaN,47746.0,NaN,NaN,NaN,NaN,NaN,47746.0,NaN,NaN
19,NaN,NaN,NaN,NaN,48111.0,NaN,NaN,NaN,NaN,NaN,48111.0,NaN,NaN
20,NaN,NaN,NaN,NaN,48477.0,NaN,NaN,NaN,NaN,NaN,48477.0,NaN,NaN
21,NaN,NaN,NaN,NaN,48842.0,NaN,NaN,NaN,NaN,NaN,48842.0,NaN,NaN
22,NaN,NaN,NaN,NaN,49207.0,NaN,NaN,NaN,NaN,NaN,49207.0,NaN,NaN
23,NaN,NaN,NaN,NaN,49572.0,NaN,NaN,NaN,NaN,NaN,49572.0,NaN,NaN
24,NaN,NaN,NaN,NaN,49938.0,NaN,NaN,NaN,NaN,NaN,49938.0,NaN,NaN
25,NaN,NaN,NaN,NaN,50303.0,NaN,NaN,NaN,NaN,NaN,50303.0,NaN,NaN

In [15]:
file_path = fr"C:\Users\defaultuser0\Desktop\Sneha_Thesis\excel_files\Sov_Coupon_Dates\{country}.xlsx"

# Export the DataFrame to an Excel file
df.to_excel(file_path, index=False)

print(f"DataFrame successfully exported to {file_path}")

DataFrame successfully exported to C:\Users\defaultuser0\Desktop\Sneha_Thesis\excel_files\Sov_Coupon_Dates\Greece.xlsx