In [1]:
import pandas as pd
import numpy as np
import datetime
import re

In [56]:
# the time series data and the static data are contained in2 different sheets, namely TS Updated and S Updated respectively, thus importing the time series data into df1 and static data into df2 

country = 'Greece'

df1 = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Sov_Dirty_Prices/{country}_sov_dirtyprice.xlsx")

df2 = pd.read_excel(f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Sov_Macro/{country}_Sneha.xlsm", sheet_name = 'S Updated', header = 1)

In [57]:
df1.columns = [col.split('(')[0] if '(' in col else col for col in df1.columns]

In [58]:
a = df1.columns
a = pd.Series(a)
a = a[1:]
my_list = a.tolist()
my_list

['7835W7',
 '7835WE',
 '7835WT',
 '7835WU',
 '7835XF',
 '7838X6',
 '7838XW',
 '7839CD',
 '7839CE',
 '7839CF',
 '7839CQ',
 '7839QV',
 '7841NK']

In [59]:
a = df2['Type']
mylist2 = a.tolist()
mylist2

['7839CQ',
 '7835XF',
 '7835WU',
 '7839CE',
 '7839CF',
 '7835W7',
 '7841NK',
 '7835WT',
 '7839CD',
 '7838XW',
 '7839QV',
 '7838X6',
 '7835WE']

In [61]:
# Sample lists
list1 = my_list
list2 = mylist2

# Using list comprehension to find elements in list2 but not in list1
elements_only_in_list2 = [item for item in list2 if item not in list1]
elements_only_in_list1 = [item for item in list1 if item not in list2]

print("Elements in list2 but not in list1:", elements_only_in_list2)
print("Elements in list2 but not in list1:", elements_only_in_list1)

Elements in list2 but not in list1: []
Elements in list2 but not in list1: []

In [63]:

df3 = df2[["Type", "RDL"]]

datetime_dict = df3.set_index('Type')['RDL'].to_dict()

type_list = df2['Type'].tolist()

for bond in df1.columns[1:]:
    if bond in datetime_dict:
        
        # Calculate the difference and update the DataFrame
        df1[bond] = df1.apply(
            lambda row: (datetime_dict[bond] - row['Code']) if not pd.isna(row[bond]) else np.nan,
            axis=1
        )

In [64]:
df1

,Code,7835W7,7835WE,7835WT,7835WU,7835XF,7838X6,7838XW,7839CD,7839CE,7839CF,7839CQ,7839QV,7841NK
0,40179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,40183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,45127,974.0,NaN,NaN,244.0,5176.0,NaN,NaN,NaN,244.0,974.0,5176.0,NaN,NaN
4949,45128,973.0,NaN,NaN,243.0,5175.0,NaN,NaN,NaN,243.0,973.0,5175.0,NaN,NaN
4950,45129,972.0,NaN,NaN,242.0,5174.0,NaN,NaN,NaN,242.0,972.0,5174.0,NaN,NaN
4951,45130,971.0,NaN,NaN,241.0,5173.0,NaN,NaN,NaN,241.0,971.0,5173.0,NaN,NaN
4952,45131,970.0,NaN,NaN,240.0,5172.0,NaN,NaN,NaN,240.0,970.0,5172.0,NaN,NaN

In [65]:

excel_file_path = f"C:/Users/defaultuser0/Desktop/Sneha_thesis/excel_files/Sov_DTM/{country}_sov_dtm.xlsx"
df1.to_excel(excel_file_path, index=False)